# Lab 1: Anime Reccomendation Database

In [27]:
import urllib.request
import pandas as pd
import sqlite3

In [28]:
anime_df = pd.read_csv('/mnt/data/public/anime-recommendations-database/anime.csv')
anime_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [29]:
print(anime_df.shape)
print(anime_df.info())

(12294, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

In [30]:
anime_df.duplicated().sum() #checks for duplicate

0

In [31]:
anime_df.describe().T

,count,mean,std,min,25%,50%,75%,max
anime_id,12294.0,14058.221653,11455.294701,1.00,3484.25,10260.50,24794.50,34527.0
rating,12064.0,6.473902,1.026746,1.67,5.88,6.57,7.18,10.0
members,12294.0,18071.338864,54820.676925,5.00,225.00,1550.00,9437.00,1013917.0

In [32]:
rating_df = pd.read_csv('/mnt/data/public/anime-recommendations-database/rating.csv')
rating_df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [33]:
print(rating_df.shape)
print(rating_df.info())

(7813737, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB
None

In [34]:
db_file = 'anime.db'

conn = sqlite3.connect(db_file)

print(f"\nSuccessfully connected to or created the database: {db_file}")

Successfully connected to or created the database: anime.db

In [35]:
table_name1 = 'anime_table'

anime_df.to_sql(
    name=table_name1,
    con=conn,
    if_exists='replace',
    index=False
)

print(f"\nData successfully saved to table: {table_name1}")

Data successfully saved to table: anime_table

In [36]:
anime_tbl = pd.read_sql(f'SELECT * FROM {table_name1}', conn)

anime_tbl

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [39]:
table_name2 = 'rating_table'

rating_df.to_sql(
    name=table_name2,
    con=conn,
    if_exists='replace',
    index=False
)

print(f"\nData successfully saved to table: {table_name2}")

Data successfully saved to table: rating_table

In [40]:
rating_tbl = pd.read_sql(f'SELECT * FROM {table_name2}', conn)

rating_tbl

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [41]:
#need changes
df_exploded = anime_tbl.assign(genre=anime_tbl['genre'].str.split(', ')).explode('genre')
df_exploded['genre'] = df_exploded['genre'].str.strip()
df_exploded = df_exploded.reset_index(drop=True)

print("Exploded DataFrame (Ready for saving):")
df_exploded

Exploded DataFrame (Ready for saving):

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
1,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
2,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
3,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
4,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665
...,...,...,...,...,...,...,...
36342,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
36343,5543,Under World,Hentai,OVA,1,4.28,183
36344,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
36345,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
36346,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [44]:
table_name3 = 'anime_genre'

# Save the DataFrame to the SQLite table
df_exploded.to_sql(
    name=table_name3,
    con=conn,
    if_exists='replace',
    index=False
)

print(f"\n✅ Data successfully split and saved to the single new table: **{table_name3}**")

✅ Data successfully split and saved to the single new table: **anime_genre**

In [45]:
anime_genre_split_df = pd.read_sql(f'SELECT * FROM {table_name3}', conn)

anime_genre_split_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
1,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
2,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
3,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
4,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665
...,...,...,...,...,...,...,...
36342,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
36343,5543,Under World,Hentai,OVA,1,4.28,183
36344,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
36345,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
36346,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

## Phase 1: Data Cleaning, Validation, and Benchmark Establishment

### 1. Data Ingestion and Cleaning

In [47]:
conn = sqlite3.connect('anime.db')
cursor = conn.cursor()
command = """SELECT * FROM anime_table
where genre is not '' AND genre IS NOT NULL AND
type IS NOT '' AND type IS NOT NULL AND
episodes IS NOT 'Unknown' AND episodes IS NOT NULL AND
rating IS NOT NULL AND rating IS NOT ''

"""
anime_clean_df = pd.read_sql(command, conn)
anime_clean_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
11825,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
11826,5543,Under World,Hentai,OVA,1,4.28,183
11827,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
11828,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
11829,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [49]:
cursor = conn.cursor()
command = """SELECT * FROM anime_genre
where genre is not '' AND genre IS NOT NULL AND
type IS NOT '' AND type IS NOT NULL AND
episodes IS NOT 'Unknown' AND episodes IS NOT NULL AND
rating IS NOT NULL AND rating IS NOT ''
"""
anime_genre_clean_df = pd.read_sql(command, conn)
anime_genre_clean_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
1,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
2,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
3,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
4,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665
...,...,...,...,...,...,...,...
35196,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
35197,5543,Under World,Hentai,OVA,1,4.28,183
35198,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
35199,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
35200,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [53]:
command = """SELECT * FROM rating_table
WHERE rating IS NOT '-1'
ORDER BY anime_id

"""
rating_clean_df = pd.read_sql(command, conn)
rating_clean_df

         user_id  anime_id  rating
0             19         1      10
1             21         1       9
2             23         1       9
3             32         1      10
4             34         1       7
...          ...       ...     ...
6337236    59643     34367       5
6337237    62402     34367       4
6337238    13954     34475       6
6337239    53492     34475       5
6337240    70547     34475       9

[6337241 rows x 3 columns]

### 2. Rating System Validation:

#### a. Standard Deviation for Each Anime

In [70]:
consensus_metrics = rating_clean_df.groupby('anime_id')['rating'].agg(
    std_dev='std',
    num_ratings='size',
    mean='mean'
).reset_index()
consensus_metrics

# what is the richness of data if the rating user aggrement add filter for 1000

      anime_id   std_dev  num_ratings      mean
0            1  1.200112        13449  8.869433
1            5  1.165703         5790  8.439724
2            6  1.219656         9385  8.419393
3            7  1.389508         2169  7.533426
4            8  1.431292          308  7.198052
...        ...       ...          ...       ...
9922     34324  1.375103           11  5.909091
9923     34325  1.397276           15  7.333333
9924     34349  1.000000            3  7.000000
9925     34367  0.957427            4  5.250000
9926     34475  2.081666            3  6.666667

[9927 rows x 4 columns]

In [83]:
consensus_metrics = (
    rating_clean_df
    .groupby('anime_id')
    .agg(
        count_rating=('rating', 'count'),
        count_user=('user_id', 'count'),
        std_dev=('rating', 'std'),
        num_ratings=('rating', 'size'),
        mean=('rating', 'mean')
    )
    .reset_index()
)
consensus_metrics

      anime_id  count_rating  count_user   std_dev  num_ratings      mean
0            1         13449       13449  1.200112        13449  8.869433
1            5          5790        5790  1.165703         5790  8.439724
2            6          9385        9385  1.219656         9385  8.419393
3            7          2169        2169  1.389508         2169  7.533426
4            8           308         308  1.431292          308  7.198052
...        ...           ...         ...       ...          ...       ...
9922     34324            11          11  1.375103           11  5.909091
9923     34325            15          15  1.397276           15  7.333333
9924     34349             3           3  1.000000            3  7.000000
9925     34367             4           4  0.957427            4  5.250000
9926     34475             3           3  2.081666            3  6.666667

[9927 rows x 6 columns]

In [86]:
consensus_metrics = consensus_metrics[consensus_metrics['num_ratings'] >= 1000].reset_index()
consensus_metrics

,index,anime_id,count_rating,count_user,std_dev,num_ratings,mean
0,0,1,13449,13449,1.200112,13449,8.869433
1,1,5,5790,5790,1.165703,5790,8.439724
2,2,6,9385,9385,1.219656,9385,8.419393
3,3,7,2169,2169,1.389508,2169,7.533426
4,5,15,2002,2002,1.277213,2002,8.299700
...,...,...,...,...,...,...,...
1457,9656,32729,1802,1802,1.383235,1802,7.841842
1458,9705,32828,1200,1200,1.124486,1200,7.715833
1459,9736,32935,1038,1038,0.955861,1038,9.171484
1460,9748,32998,1541,1541,1.131008,1541,7.993511
1461,9919,34240,1257,1257,1.316604,1257,8.390613

In [65]:
nan_consensus_metrics = consensus_metrics[consensus_metrics.isna().any(axis=1)]
nan_consensus_metrics

      anime_id  std_dev  num_ratings  mean
990       1093      NaN            1   9.0
1499      1656      NaN            1   6.0
1572      1739      NaN            1   5.0
1836      2024      NaN            1   7.0
1904      2093      NaN            1   7.0
...        ...      ...          ...   ...
9904     33914      NaN            1   5.0
9905     33915      NaN            1   5.0
9916     34136      NaN            1   8.0
9918     34239      NaN            1   7.0
9920     34252      NaN            1  10.0

[826 rows x 4 columns]

In [85]:
final_consensus_df = anime_clean_df.merge(consensus_metrics, on='anime_id', how='inner')
final_consensus_df

## remove ?

,anime_id,name,genre,type,episodes,rating,members,count_rating,count_user,std_dev,num_ratings,mean
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,1961,1961,0.883408,1961,9.426313
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,21494,21494,0.936453,21494,9.322741
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,1188,1188,0.950311,1188,9.449495
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,17151,17151,1.012019,17151,9.261326
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,3115,3115,1.047921,3115,9.272552
...,...,...,...,...,...,...,...,...,...,...,...,...
1457,746,Papa to Kiss in the Dark,"Comedy, Drama, Romance, Yaoi",OVA,2,6.47,28620,1453,1453,2.113336,1453,6.678596
1458,8577,Aki-Sora: Yume no Naka,"Ecchi, Romance, Seinen, Yuri",OVA,2,6.41,37519,1516,1516,1.962385,1516,6.679420
1459,651,Green Green Thirteen: Erolutions,"Comedy, Hentai, Romance",OVA,1,6.26,17805,1079,1079,1.990604,1079,6.487488
1460,5391,Pico to Chico,"Hentai, Yaoi",OVA,1,5.19,29463,1047,1047,2.960673,1047,5.469914
1461,1639,Boku no Pico,"Hentai, Yaoi",OVA,1,5.13,57355,1783,1783,3.157884,1783,5.351655

#### b. User Engagement (Rating Completion Rate)

In [61]:
total_entries = rating_tbl.shape[0]

rating_completion_rate = rating_clean_df.shape[0] / total_entries

print(f"Total 'Watched' Entries: {total_entries:,}")
print(f"Entries with Numerical Scores: {completed_ratings:,}")
print(f"Rating Completion Rate: {rating_completion_rate:.2%}")

Total 'Watched' Entries: 7,813,737
Entries with Numerical Scores: 6,337,241
Rating Completion Rate: 81.10%

# Performance Benchmark

In [68]:
rating_stats = anime_clean_df.loc[anime_clean_df['members'] >= 1000, 'rating'].describe(percentiles=[0.75, 0.80, 0.90])
benchmark_score_80th_percentile = rating_stats['80%']
print(rating_stats)

print(f"Mean (Average) Score: {rating_stats['mean']:.2f}")
print(f"Median (50th Percentile) Score: {rating_stats['50%']:.2f}")
print(f"75th Percentile Score: {rating_stats['75%']:.2f}")
print(f"The 80th Percentile Score is: {benchmark_score_80th_percentile:.2f}")

count    6725.000000
mean        6.969868
std         0.762999
min         2.000000
50%         7.000000
75%         7.470000
80%         7.580000
90%         7.900000
max         9.370000
Name: rating, dtype: float64
Mean (Average) Score: 6.97
Median (50th Percentile) Score: 7.00
75th Percentile Score: 7.47
The 80th Percentile Score is: 7.58

We gather 1000